<div th:fragment="dev_view">
    <div class="container">
        <div class="row">
            <div class="row" style="min-height:6rem;">
                <div class="col-md-6">
                    <div class="shadow p-4 border border-dark mb-4 overflow-auto" style="max-height:24rem;">
                        <div th:each="task : ${highPriorityOpenedTasks}">
                            <div th:insert="fragments/task_div :: task_div"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="shadow p-4 border border-dark mb-4 overflow-auto" style="max-height:24rem;">
                        <div th:each="task : ${highPriorityCompletedTasks}">
                            <div th:insert="fragments/task_div :: task_div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row " style="min-height:6rem;">
                <div class="col-md-6">
                    <div class="shadow p-4 border border-dark mb-4 overflow-auto" style="max-height:24rem;">
                        <div th:each="task : ${lowPriorityOpenedTasks}">
                            <div th:insert="fragments/task_div :: task_div"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shadow p-4 border border-dark mb-4 overflow-auto" style="max-height:24rem;">
                        <div th:each="task : ${lowPriorityCompletedTasks}">
                            <div th:insert="fragments/task_div :: task_div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>