<div th:fragment="task_note_modals">
    <div th:each="task : ${activeSprint.getTasks()} "
         class="modal fade modal-sheet py-5"
         tabindex="-1" role="dialog"
         th:id="'noteModal' + ${task.getId()}">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <form onsubmit="addNodeToTask();return false" method="post">
                    <input name="taskId" th:value="${task.getId()}" hidden>
                    <div class="modal-header border-bottom-0">
                        <h1 th:text="${task.getName()}" class="modal-title fs-5">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <textarea class="form-control" name="note" placeholder="Заметка" rows="3"
                                  th:text="${task.getNote()}"></textarea>
                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>