<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head :: head">
</head>
<body class="container container-fluid">
<div class="bg-light rounded mt-2 shadow p-4">
    <h1>Пожалуйста зарегистрируйтесь</h1>
    <form class="form-control p-3" th:object="${user}" th:action="@{/registration}" method="post">
        <div class="h3 text-danger" th:text="${error}" th:if="${error}">
        </div>
        <div class="mb-3">
            <input class="form-control" th:field="*{username}" type="text" name="username" placeholder="Логин" required/>
        </div>
        <div class="mb-3">
            <input class="form-control" th:field="*{password}" type="password" name="password" placeholder="Пароль" required/>
        </div>
        <div class="mb-3">
            <input class="form-control" th:field="*{matchingPassword}" type="password" name="passwordMatching" placeholder="Пароль еще раз" required/>
        </div>
        <div class="mb-3">
            <select class="form-control" th:field="*{role}" name="role">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-primary" type="submit">Зарегистрироваться</button>
            <a href="/login" class="btn btn-outline-primary">Уже есть учетная запись</a>
        </div>
    </form>
</div>
</body>
</html>